:root {
  /* colors */
  --black: #000000;
  --light-black: #3e3c3c;
  --white: #ffffff;

  --hard-red: #ff1f1f;
  --red: #e62031;
  --light-red: #ff5757;

  --green: #21bf73;
  --blue: #185adb;

  --dark-brown: #4e241d;
  --light-brown: #ebdbca;

  --dark-grey: #b7b7b8;
  --med-grey: #d9d9d8;
  --light-grey: #f3f3f3;

  --not-white: #fcfcfc;
  --yellow: #fff3e5;

  /* fonts */
  --primary: 1rem; /* 16px */
  --secondary: calc(1rem - 2px); /* 14px */
  --title: 1.25rem; /* 20px */
  --header: 1.5rem; /* 22px */
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Quicksand-medium';
  src: url('./assets/fonts/Quicksand/static/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand-semibold';
  src: url('./assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: 'Quicksand-bold';
  src: url('./assets/fonts/Quicksand/static/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'Quicksand-light';
  src: url('./assets/fonts/Quicksand/static/Quicksand-Light.ttf');
}

@font-face {
  font-family: 'Yellowtail';
  src: url('./assets/fonts/Yellowtail/Yellowtail-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

/* TODO impelement new font-sizes */
/* @media only screen and (max-width: 1200px) {
  :root {
    --header: calc(1.375rem + 1.5vw);
  }
} */
