.checkout-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-main-container {
  max-width: 720px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  padding: 4rem;
  margin: 3rem 0;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 1px var(--light-black);
}

.checkout-title {
  width: 100%;
  color: var(--red);
  font-size: 2rem;
  font-family: 'Quicksand-bold', sans-serif;
  text-decoration: underline;
}

.checkout-cart-items {
  width: 75%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.checkout-total-container {
  width: 75%;
  margin-top: 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.checkout-total-text {
  color: var(--red);
  font-size: var(--header);
  font-family: 'Quicksand-semibold', sans-serif;
}

.checkout-total-amount {
  color: var(--light-black);
  font-size: var(--header);
  font-family: 'Quicksand-bold', sans-serif;
}

.checkout-button {
  width: 40%;
  border: none;
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: var(--red);
  color: white;
  font-size: var(--header);
  font-family: 'Quicksand-bold', sans-serif;
  border-radius: 0.5rem;
}

.checkout-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .checkout-main-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
  .checkout-container {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .checkout-cart-items {
    width: 100%;
  }

  .checkout-total-container {
    width: 100%;
  }

  .checkout-button {
    width: 80%;
  }
}

@media only screen and (max-width: 420px) {
  .checkout-main-container {
    padding: 2rem;
  }
}

.cart-nothing-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-emoji-sad-container {
  margin-bottom: 2rem;
}

.cart-emoji-sad {
  color: var(--red);
  width: 8rem;
  height: 8rem;
}

.cart-no-items-container {
  color: var(--light-black);
  font-size: var(--header);
  font-family: 'Quicksand-bold', sans-serif;
}
