.pending-notification-card-container {
  width: 90%;
  min-height: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    -45deg,
    var(--light-grey),
    var(--dark-grey) 30%,
    white 30%,
    white 100%
  );
  border-radius: 0.5rem;
  box-shadow: 5px 3px 5px 1px rgb(62, 60, 60, 0.5);
}

@media only screen and (max-width: 700px) {
  .pending-notification-card-container {
    background: linear-gradient(
      -45deg,
      var(--light-grey),
      var(--dark-grey) 40%,
      white 40%,
      white 100%
    );
  }
}

.pending-notification-card-container:not(:last-child) {
  margin-bottom: 1.25rem;
}

.pending-notification-card-container:hover {
  cursor: pointer;
  width: 91%;
  box-shadow: 5px 3px 5px 2.5px rgb(62, 60, 60, 0.7);
}

.pending-notification-card-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem 0 2rem;
  color: var(--dark-grey);
}

.pending-notification-card-icon {
  font-size: 1.25rem;
}

.pending-notification-card-content {
  flex: 1;
  height: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pending-notification-card-title {
  font-size: var(--title);
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--light-black);
  margin-bottom: 0.75rem;
}

.pending-notification-card-buyer {
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
  color: var(--dark-grey);
}

.pending-notification-card-date-container {
  height: 100%;
  width: 8rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pending-notification-card-date {
  font-size: var(--secondary);
  font-family: 'Quicksand-semibold', sans-serif;
  color: white;
}

@media only screen and (max-width: 720px) {
  .pending-notification-card-title {
    margin-bottom: 0;
  }

  .pending-notification-card-buyer {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .pending-notification-card-container {
    height: 4rem;
  }

  .pending-notification-card-icon-container {
    padding: 0 0.5rem 0 1rem;
  }

  .pending-notification-card-icon {
    font-size: 1rem;
  }

  .pending-notification-card-content {
    padding-left: 1rem;
  }

  .pending-notification-card-title {
    font-size: var(--primary);
  }
}

@media only screen and (max-width: 400px) {
  .pending-notification-card-date-container {
    width: 5rem;
    justify-content: flex-end;
  }

  .pending-notification-card-date {
    text-align: end;
  }

  .pending-notification-card-title {
    max-width: 80%;
    min-width: 128px;
  }
}
