.customize-main-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customize-modal-info-container {
  margin-top: 1.5rem;
  width: 100%;
}

.customize-modal-info-title {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--title);
  color: var(--light-black);
}

.customize-modal-info-text {
  margin-top: 0.5rem;
  word-break: break-word;
}

.customize-modal-info-date-container {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.customize-modal-info-date-container .customize-modal-info-title {
  margin-right: 3rem;
}

.customize-modal-submit-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.customize-modal-submit-button {
  color: var(--red);
  font-size: 1rem;
  font-family: 'Quicksand-semibold', sans-serif;
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.customize-modal-submit-button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--red);
}
