.customize-seller-list-main-container {
  background-color: var(--light-grey);
  width: 100%;
  padding: 3rem 2rem 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customize-seller-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
}

.customize-seller-title {
  margin-left: 1.5rem;
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--red);
  font-size: 1.75rem;
}

.customize-seller-list {
  margin-top: 2.5rem;
  width: 100%;
  height: 100%;
}

.customize-seller-list-item-container {
  background-color: white;
  width: 100%;
  height: 8rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px var(--light-black);
}

.customize-seller-list-item-container:not(:last-child) {
  margin-bottom: 2rem;
}

.customize-seller-list-item-image-container {
  width: 25%;
  min-width: 8rem;
  height: 100%;
}

.customize-seller-list-item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.customize-seller-list-item-description-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.customize-seller-list-item-title {
  font-size: var(--title);
  color: var(--light-black);
  font-family: 'Quicksand-bold', sans-serif;
}

.customize-seller-list-item-prices-container {
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--light-black);
}

.customize-seller-list-item-prices {
  font-size: var(--primary);
  font-family: 'Quicksand', sans-serif;
}

.customize-seller-list-item-prices span:not(:last-child):after {
  content: ' / ';
}

.customize-seller-list-select-button-container {
  height: 100%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customize-seller-list-item-select-icon-container {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid var(--red);
  display: flex;
}

.customize-seller-list-item-select-icon-container:hover {
  background-color: var(--red);
  cursor: pointer;
}

.customize-seller-list-item-select-icon-container:hover .customize-seller-list-item-select-icon {
  fill: white;
}

.customize-seller-list-item-select-icon {
  width: 1rem;
  height: 1rem;
  fill: var(--red);
}

@media only screen and (max-width: 520px) {
  .customize-seller-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .customize-seller-title {
    text-align: center;
    margin-left: 0;
  }

  .customize-seller-list-item-container {
    flex-direction: column;
    max-width: 12rem;
    height: fit-content;
  }

  .customize-seller-list-item-image-container {
    width: 100%;
  }

  .customize-seller-list-item-description-container {
    height: 8rem;
  }

  .customize-seller-list-select-button-container {
    margin-right: 0;
  }

  .customize-seller-list-item-select-icon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    border: 2px solid var(--red);
  }

  .customize-seller-list-item-select-icon {
    fill: white;
  }

  .customize-seller-list-item-select-icon-container:hover {
    background-color: white;
  }

  .customize-seller-list-item-select-icon-container:hover .customize-seller-list-item-select-icon {
    fill: var(--red);
  }
}
