.login-main-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  padding: 3rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.login-title {
  font-size: 2rem;
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--red);
  margin-bottom: 2rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-to-signup {
  margin-top: 0.5rem;
  font-size: var(--secondary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-black);
}

.go-to-link {
  text-decoration: none;
  color: var(--red);
  font-family: 'Quicksand-medium', sans-serif;
}

@media only screen and (max-width: 375px) {
  .login-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
