.cart-item {
  width: 100%;
  height: 5.5rem;
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 2.5px 0px rgba(62, 60, 60, 0.5);
}

.cart-item-image-container {
  height: 100%;
  width: 25%;
}

.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-main {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 0.75rem;
}

.cart-item-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-item-title {
  color: var(--light-black);
  font-size: var(--title);
  font-family: 'Quicksand-semibold', sans-serif;
}

.cart-item-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-delete-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--red);
}

.cart-item-delete-icon:hover {
  cursor: pointer;
}

.cart-item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-item-quantity {
  color: var(--light-black);
  font-size: var(--primary);
  font-family: 'Quicksand-medium', sans-serif;
}

.cart-item-quantity span {
  font-family: 'Quicksand-semibold', sans-serif;
}

.cart-item-price {
  color: var(--light-black);
  font-size: var(--primary);
  font-family: 'Quicksand-medium', sans-serif;
}

.change-quantity-icon {
  color: var(--dark-grey);
}

.change-quantity-icon:hover {
  color: var(--light-black);
  cursor: pointer;
}
