.header-container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-brown);
}

.header-left-side {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links-container {
  margin-right: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.mobile-header-links-container {
  display: none;
}

.header-menu-button-container {
  display: none;
}

.header-logo-container {
  height: 100%;
  margin-left: 2rem;
}

.header-sweetMeUp {
  height: 100%;
  cursor: pointer;
}

.header-word-container,
.header-word-container:hover {
  font-family: 'Quicksand-bold', sans-serif;
  font-size: var(--title);
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-right: 2rem;
}

.header-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cart {
  height: 1.75rem;
  cursor: pointer;
}

.header-menu-icon {
  font-size: 50px;
  color: black;
  padding: 5px;
  margin: 5px;
}

.user-icon {
  font-size: 33px;
  color: black;
  padding-right: 5px;
}

.arrow-icon-down {
  font-size: 20px;
  color: black;
  transform: rotate(-180deg);
  transition: transform 0.3s linear;
}

.arrow-icon-up {
  font-size: 20px;
  color: black;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.header-user-icon-container {
  display: flex;
  margin-right: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 720px) {
  .header-links-container {
    display: none;
  }

  .header-menu-button-container {
    display: flex;
    margin-right: 1.25rem;
    cursor: pointer;
  }

  .mobile-header-links-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-header-links-inner-container {
    display: flex;
    max-width: 240px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2rem 0;
  }

  .header-word-container,
  .header-word-container:hover {
    font-family: 'Quicksand-bold', sans-serif;
    font-size: var(--title);
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .header-cart {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
  }
}

.custom-dropdown-toggle-btn,
.custom-dropdown-toggle-btn:hover {
  color: black;
  text-decoration: none;
}

.custom-dropdown-item-container > ul {
  margin-bottom: 0;
}

.custom-dropdown-item,
.custom-dropdown-item:hover {
  color: black;
  text-decoration: none;
}
