.customize-container {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.customize-form {
  grid-column: 1;
  display: flex;
  justify-content: center;
}

.customize-image-hero {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.customize-image-container {
  width: 50%;
  height: 80%;
  max-height: 640px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 10px 10px 7.5px var(--light-black);
}

.customize-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customize-form-container {
  margin: 5rem 2rem 5rem 2rem;
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customize-form-title {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--red);
}

.customize-form-form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.customize-form-form-title {
  color: var(--light-black);
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
  margin-bottom: 0.5rem;
}

.customize-form-desc-container {
  margin-top: 1.5rem;
}

.customize-form-submit-button-container {
  margin-top: 3rem;
  width: 40%;
  align-self: center;
}

.customize-form-error {
  margin-top: 0.125rem;
  font-size: 0.75rem;
  color: var(--red);
  font-family: 'Quicksand', sans-serif;
}

.customize-form-ingredient-list-container {
  margin-top: 2rem;
  width: 100%;
}

.customize-form-ingredient-list-container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-form-ingredient-list-title {
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
  color: var(--light-black);
}

.customize-form-ingredient-list-add-button {
  color: var(--red);
  font-size: 0.875rem;
  font-family: 'Quicksand-semibold', sans-serif;
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.customize-form-ingredient-list-add-button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--red);
}

.customize-modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 620px;
  width: 40%;
  min-width: 540px;
  max-height: 80%;
  background-color: white;
  border: 1px solid var(--light-black);
  border-radius: 0.5rem;
  box-shadow: 24;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}

.customize-modal-container::-webkit-scrollbar {
  display: none;
}

.customize-modal-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.customize-modal-title {
  font-family: 'Quicksand-bold';
  font-size: var(--header);
  color: var(--red);
}

.customize-modal-close-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customize-modal-close-button {
  width: 1.25rem;
  height: 1.25rem;
}

.customize-modal-close-button:hover {
  cursor: pointer;
}

.customize-modal-form {
  margin: 1.25rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

.customize-modal-amount-container {
  margin-top: 1.5rem;
}

.customize-modal-select-metric-input {
  margin-top: 1.5rem;
}

.customize-modal-buttons-container {
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.customize-modal-add-button {
  min-width: 5rem;
  color: var(--red);
  font-size: 0.875rem;
  font-family: 'Quicksand-semibold', sans-serif;
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.customize-modal-add-button:hover {
  cursor: pointer;
  background-color: var(--red);
  color: white;
}

.customize-modal-cancel-button {
  min-width: 5rem;
  color: var(--light-black);
  font-size: 0.875rem;
  font-family: 'Quicksand-semibold', sans-serif;
  border: 1px solid var(--light-black);
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.customize-modal-cancel-button:hover {
  cursor: pointer;
  background-color: var(--light-black);
  color: white;
}

.customize-table {
  margin-top: 1rem;
}

.customize-table-header {
  background-color: var(--light-grey);
}

.customize-table-delete-button {
  width: 1rem;
  height: 1rem;
}

.customize-table-delete-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .customize-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .customize-image-hero {
    display: none;
  }

  .customize-form {
    width: 100%;
  }

  .customize-table-container {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 640px) {
  .customize-modal-container {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 2.5rem;
  }

  .customize-modal-form {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 460px) {
  .customize-modal-buttons-container {
    width: 80%;
  }
}
