.footer-container {
  background-color: var(--light-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 3rem;
}

.footer-column-left {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 8rem;
}

.footer-column-middle {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.footer-column-right {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8rem;
}

.footer-contact-us-title {
  font-size: var(--primary);
  font-family: 'Quicksand-bold', sans-serif;
  color: white;
  margin-bottom: 0.5rem;
}

.footer-link {
  font-size: var(--secondary);
  font-family: 'Quicksand', sans-serif;
  color: white;
  word-break: break-all;
}

.footer-LogoFer {
  display: flex;
  height: 5rem;
  width: inherit;
  fill: white;
}

.footer-copyright-text {
  font-size: var(--secondary);
  font-family: 'Quicksand', sans-serif;
  color: white;
}

@media only screen and (max-width: 720px) {
  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
  }

  .footer-column-left {
    grid-column: 1;
    grid-row: 1/2;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    justify-self: center;
    padding: 2rem 0 1rem 0;
  }

  .footer-column-middle {
    grid-column: 1;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }

  .footer-column-right {
    grid-column: 1;
    grid-row: 3/4;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 1rem 0 2rem 0;
  }
}
