.webshop-container {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: minmax(20rem, 25%) auto;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.webshop-filter-container {
  background-color: var(--light-grey);
  grid-column: 1/2;
  padding: 1.25rem 0 0.75rem 0;
  border-radius: 1.5rem;
  height: fit-content;
}

.webshop-cakes-list-container {
  grid-column: 2/3;
}

@media only screen and (max-width: 944px) {
  .webshop-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 2rem 0;
  }

  .webshop-filter-container {
    grid-column: 1;
    width: 80%;
    justify-self: center;
    padding: 0.75rem 0 0.5rem 0;
  }

  .webshop-cakes-list-container {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
}
