.buyer-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.buyer-all-info-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.buyer-profile-picture-container {
  min-width: 300px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 8vh;
  border-radius: 10rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.buyer-profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buyer-text-info-container {
  display: flex;
  flex-direction: column;
  margin: 8vh;
  max-width: 7 0%;
  background-color: var(--light-brown);
  border-radius: 0.75rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.buyer-username {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  text-align: left;
  width: 100%;
  padding-right: 1rem;
}

.buyer-email {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  text-align: left;
  width: 100%;
  padding-right: 1rem;
}

.buyer-info-container {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buyer-information-title {
  font-family: 'Quicksand-bold', sans-serif;
  font-size: var(--header);
  text-align: left;
  padding-left: 1rem;
  color: white;
  width: 100%;
}

.buyer-title-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--dark-brown);
}

.edit-button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: var(--light-brown);
  border: 1px solid var(--light-brown);
  border-radius: 0.5rem;
}

.edit-button:hover {
  box-shadow: 0 0 0 0.2rem #e9ddd069;
}

.edit-icon {
  color: black;
  width: 20px;
  height: 40px;
}
.past-orders-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
  gap: 1rem;
}

.custom-orders-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
  gap: 1rem;
  place-items: center;
  cursor: pointer;
}

.single-custom-order {
  display: grid;
  grid-template-rows: 24% 19% 19% 19% 19%;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  background-color: var(--light-brown);
  padding-bottom: 0.2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.single-custom-order:hover {
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.custom-order-number {
  background-color: var(--dark-brown);
  color: white;
  width: 100%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  align-items: center;
  font-family: 'Quicksand-semibold', sans-serif;
}

.custom-order-deliveryDate {
  width: 100%;
  padding-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding-top: 0.1rem;
}

.custom-order-seller {
  width: 100%;
  padding-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding-top: 0.1rem;
}

.custom-order-price {
  width: 100%;
  padding-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding-top: 0.1rem;
}

.custom-order-seen {
  width: 100%;
  padding-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding-top: 0.1rem;
}

.order-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: var(--light-brown);
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.order-cake-link {
  text-decoration: none;
  color: black;
}

.order-cake-link:hover {
  color: var(--light-red);
}

.order-cake-container {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 0.2rem;
}

.order-cake {
  display: grid;
  grid-template-columns: 15% 15% 20% 50%;
  overflow: hidden;
  width: 100%;
  height: 3rem;
}

.cake-cart-quantity {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--secondary);
  grid-column: 1;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.cake-cart-price {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--secondary);
  grid-column: 2;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.cake-title {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--secondary);
  grid-column: 4;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.cake-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

.cake-image-container {
  width: 100%;
  height: 100%;
  grid-column: 3;
  min-width: 0;
  min-height: 0;
}

.order-sum {
  width: 100%;
  text-align: left;
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--primary);
  background-color: var(--dark-brown);
  color: white;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.order-sum-container {
  width: 100%;
  margin-top: 0.2rem;
}

.delete-account-container {
  background-color: var(--light-red);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  margin: 1rem;
  color: white;
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
}

.order-history-container {
  display: flex;
  flex-direction: column;
}

.past-orders-title {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-orders-title {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mod-order-title {
  font-size: var(--header);
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--red);
}

.mod-order-content-item {
  width: 100%;
  margin-top: 0.75rem;
}

.mod-order-content-title {
  font-size: var(--primary);
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--light-black);
}

.mod-order-content-text {
  margin: 0 1rem;
  font-size: var(--primary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-black);
}

.custom-order-modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  border-top: none;
  padding: 1.5rem 2rem 0 2rem;
}

.custom-order-modal-body {
  padding: 1rem 3rem 3rem;
}

@media only screen and (max-width: 768px) {
  .past-orders-container {
    grid-template-columns: 15rem 15rem;
    gap: 1.5rem;
  }

  .custom-orders-grid {
    grid-template-columns: 15rem 15rem;
    gap: 1.5rem;
  }

  .buyer-all-info-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 548px) {
  .past-orders-container {
    grid-template-columns: 15rem;
  }

  .custom-orders-grid {
    grid-template-columns: 15rem;
  }
}

@media only screen and (min-width: 768px) {
  .custom-order-modal-container {
    max-width: 720px;
    width: 100%;
    padding: 3rem 0;
    margin: auto;
  }
}
