.seller-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.seller-all-info-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.seller-profile-picture-container {
  min-width: 300px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 8vh;
  border-radius: 10rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.seller-profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seller-text-info-container {
  display: flex;
  flex-direction: column;
  margin: 8vh;
  max-width: 7 0%;
  background-color: var(--light-brown);
  border-radius: 0.75rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.seller-username {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  text-align: left;
  width: 100%;
  padding-right: 1rem;
}

.seller-email {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  text-align: left;
  width: 100%;
  padding-right: 1rem;
}

.seller-info-container {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  text-align: left;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.seller-information-title {
  font-family: 'Quicksand-bold', sans-serif;
  font-size: var(--header);
  text-align: left;
  padding-left: 1rem;
  color: white;
  width: 100%;
}

.seller-title-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--dark-brown);
}

.edit-button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: var(--light-brown);
  border: 1px solid var(--light-brown);
  border-radius: 0.5rem;
}

.edit-button:hover {
  box-shadow: 0 0 0 0.2rem #e9ddd069;
}

.edit-icon {
  color: black;
  width: 20px;
  height: 40px;
}

.single-custom-order-seller {
  display: grid;
  grid-template-rows: 28% 24% 24% 24%;
  overflow: hidden;
  width: 100%;
  height: 8rem;
  background-color: var(--light-brown);
  padding-bottom: 0.2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.single-custom-order-seller:hover {
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.custom-order-deliveryDate-seller {
  padding-top: 0.2rem;
  width: 100%;
  padding-left: 1rem;
  font-family: 'Quicksand', sans-serif;
  padding-top: 0.1rem;
}

.seller-cakes-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.seller-cake-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: var(--header);
  font-family: 'Quicksand-semibold', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.seller-cakes-title {
}

.seller-cakes-add-button {
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
  background-color: rgb(43, 185, 43);
  cursor: pointer;
}

.cake-add-icon {
  color: black;
  width: 25px;
  height: 25px;
  /* margin-bottom: 0.5rem; */
}

.seller-cake-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.seller-edit-cake {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(43, 100, 185);
  cursor: pointer;
}

.seller-delete-cake {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--red);
  cursor: pointer;
}

.cake-delete-icon {
  color: black;
  width: 25px;
  height: 25px;
  margin-bottom: 0.3rem;
}

.cake-edit-icon {
  color: black;
  width: 25px;
  height: 25px;
  margin-bottom: 0.3rem;
}

.seller-cakes-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .seller-cakes-grid {
    grid-template-columns: 15rem 15rem;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 548px) {
  .seller-cakes-grid {
    grid-template-columns: 15rem;
    gap: 1.5rem;
  }
}

.seller-one-cake-container {
  display: grid;
  grid-template-rows: 44% 28% 28%;
  height: 10rem;
  background-color: var(--light-brown);
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.seller-cake-title-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: var(--dark-brown);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.seller-cake-image-container {
  width: 35%;
  height: 80%;
  min-width: 0;
  min-height: 0;
  align-items: center;
  margin-left: 0.5rem;
}

.seller-cake-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.seller-cake-title {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--primary);
  margin-right: 0.5rem;
  color: white;
}

.seller-cake-price {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--primary);
  margin-left: 1rem;
  margin-top: 0.3rem;
  width: 100%;
  text-align: left;
  align-items: center;
}

.customize-modal-buttons-container-seller {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}

.customize-table-delete-button-seller {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
}
