.homepage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--med-grey);
}

.top-container {
  width: 100%;
  height: 600px;
  background-image: url('./../../assets/images/torta1.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brush-stroke-and-h1 {
  background-image: url('./../../assets/images/brush_stroke.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40%;

  text-align: left;

  padding: 0 2rem;
  min-width: 30rem;
  max-width: 35rem;
}

.headline-Sweet {
  font-family: 'Yellowtail';
  color: var(--dark-brown);
  font-size: 4rem;
  padding-top: 2rem;
}

.button-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  margin: 10px 5px;
  color: var(--dark-brown);
  font-family: 'Quicksand-semibold', sans-serif;
  background-color: var(--light-brown);
  border-radius: 30px;
  padding: 0.75rem;
  min-width: 10rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.middle-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.middle-left {
  justify-content: center;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-left-container {
  height: 30rem;
  width: 70%;
  margin: 3rem 0;
  border-radius: 0.75rem;
  box-shadow: 7.5px 7.5px 5px var(--light-black);
  overflow: hidden;
}

.middle-left-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middle-right {
  width: 65%;
  text-align: center;
  justify-content: center;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.bottom-container {
  padding: 3rem 0;
  background-color: var(--dark-brown);
  color: var(--white);
  text-align: center;
}

.bottom-cake-container {
  width: 100%;
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1860px) {
  .middle-right {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .middle-right {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1128px) {
  .middle-right {
    padding: 0;
    padding-right: 3rem;
    width: 50%;
  }

  .middle-left {
    width: 50%;
  }

  .middle-left-container {
    max-width: 320px;
  }
}

@media only screen and (max-width: 720px) {
  .top-container {
    align-items: center;
    justify-content: center;
  }

  .brush-stroke-and-h1 {
    background-position-y: 5.5%;
    width: 70%;
    height: 50%;
    justify-content: space-around;
    margin-left: 0;
    margin-bottom: 0;
  }

  .headline-Sweet {
    padding-top: 1rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .button {
    padding: 0.75rem;
    margin-top: 1rem;
    min-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .middle-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
  }

  .middle-left {
    padding-left: 0%;
    width: 100%;
  }

  .middle-left-container {
    width: 100%;
  }

  .middle-right {
    width: 80%;
    padding: 0;
  }

  .bottom-cake-container {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .brush-stroke-and-h1 {
    min-width: 100%;
  }

  .headline-Sweet {
    font-size: 12vw;
    width: 100%;
    padding-top: 5vw;
  }
}

@media only screen and (max-width: 400px) {
  .middle-left-container {
    width: 80%;
  }
}
