.notifications-outer-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.notifications-container {
  margin: 3rem 0;
  max-width: 720px;
  width: 100%;
}

.notifications-title {
  width: 100%;
  font-family: 'Quicksand-bold';
  font-size: var(--header);
  color: var(--red);
}

@media only screen and (max-width: 780px) {
  .notifications-title {
    padding-left: 5%;
  }
}

.notifications-list-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

@media only screen and (max-width: 460px) {
  .notifications-container {
    margin: 3rem 0;
  }
}

/** Notifications Modal css */
@media only screen and (min-width: 768px) {
  .notifications-modal-outer-container {
    max-width: 720px;
    width: 100%;
    padding: 3rem 0;
    margin: auto;
  }
}
.notifications-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  padding: 1.5rem 2rem 0 2rem;
}

.notifications-modal-title {
  font-size: var(--header);
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--red);
}

.notifications-modal-close-icon:hover {
  cursor: pointer;
}

.notifications-modal-body {
  padding: 1rem 3rem 3rem;
}

.notifications-modal-helper-text {
  margin-bottom: 1rem;
  font-size: var(--primary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-black);
}

.notifications-modal-helper-text span {
  font-family: 'Quicksand-semibold', sans-serif;
  text-decoration: underline;
}

.notifications-modal-content-item {
  width: 100%;
  margin-top: 0.75rem;
}

.notifications-modal-content-title {
  font-size: var(--primary);
  font-family: 'Quicksand-bold', sans-serif;
  color: var(--light-black);
}

.notifications-modal-content-text {
  margin: 0 1rem;
  font-size: var(--primary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-black);
}

.notifications-modal-content-item-input {
  width: 100%;
  margin-top: 3rem;
}

.notifications-modal-content-forms {
  margin: 0 1rem;
  margin-top: 0.5rem;
  font-size: var(--primary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-black);
  display: flex;
  align-items: center;
}

.notifications-modal-price-input,
.notifications-modal-price-input:focus {
  border: none;
  border-bottom: 1px solid var(--med-grey);
  border-radius: 0;
  width: 6rem;
  box-shadow: none;
}

.notifications-modal-currency-input,
.notifications-modal-currency-input:focus {
  width: fit-content;
  border: none;
  border: 1px solid var(--med-grey);
  border-radius: 0;
  box-shadow: none;
  margin-left: 0.25rem;
}

.notifications-modal-price-input::-webkit-outer-spin-button,
.notifications-modal-price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.notifications-modal-price-input {
  -moz-appearance: textfield;
}

.notifications-modal-price-error {
  font-size: var(--secondary);
  font-family: 'Quicksand', sans-serif;
  color: var(--red);
}

.notifications-modal-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notifications-modal-upper-button-container {
  width: 60%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.notifications-modal-reject-button {
  min-width: 6rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  background-color: white;
  color: var(--red);
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
}

.notifications-modal-reject-button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--red);
}

.notifications-modal-accept-button {
  min-width: 6rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  background-color: var(--red);
  color: white;
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
}

.notifications-modal-accept-button:hover {
  cursor: pointer;
  color: var(--red);
  background-color: white;
}

.notifications-modal-lower-button-container {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-modal-postpone-button {
  background-color: white;
  border: none;
  border-radius: 0;
  color: rgb(62, 60, 60, 0.5);
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
  text-decoration: underline;
}

.notifications-modal-postpone-button:hover {
  cursor: pointer;
  color: var(--light-black);
}

@media only screen and (max-width: 500px) {
  .notifications-outer-container {
    min-height: 80vh;
  }

  .notifications-modal-body {
    padding: 1rem 1rem 3rem 1rem;
  }

  .notifications-modal-upper-button-container {
    flex-direction: column;
  }

  .notifications-modal-reject-button {
    margin-bottom: 1.5rem;
    min-width: 8rem;
  }

  .notifications-modal-accept-button {
    min-width: 8rem;
  }

  .notifications-modal-content-forms {
    justify-content: center;
  }
}

.notifications-modal-rejected-body {
  height: 30rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.notifications-modal-go-back-container {
  width: fit-content;
}

.notifications-modal-go-back {
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
  color: var(--light-black);
}

.notifications-modal-go-back:hover {
  cursor: pointer;
}

.notifications-modal-reject-description-container {
  margin-top: 2rem;
  flex-grow: 1;
}

.notifications-modal-reject-description,
.notifications-modal-reject-description:focus {
  margin-top: 0.5rem;
  font-size: var(--primary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-black);
  border: 1px solid var(--med-grey);
  box-shadow: none;
}

.notifications-modal-final-reject-button-container {
  margin: 3rem auto 3rem auto;
}

.notifications-modal-final-reject-button {
  min-width: 6rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  background-color: var(--red);
  color: white;
  font-size: var(--primary);
  font-family: 'Quicksand-semibold', sans-serif;
}

.notifications-modal-final-reject-button:hover {
  cursor: pointer;
  color: var(--red);
  background-color: white;
}

.notifications-empty-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.notifications-empty-text {
  margin-top: 5rem;
  font-size: var(--title);
  font-family: 'Quicksand-semibold', sans-serif;
  color: var(--light-black);
  text-align: center;
}

.notifications-empty-icon {
  margin-top: 1rem;
  color: var(--red);
}

@media only screen and (max-width: 500px) {
  /* .notifications-empty-container {
    min-height: 60vh;
  } */
}
