.cake-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.cake-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.cake-container-outer {
  display: flex;
  justify-content: center;
}

.cake-page-image-container {
  min-width: 300px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 8vh;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.cake-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cake-page-info-container {
  display: flex;
  flex-direction: column;
  margin: 8vh;
  max-width: 40%;
  background-color: var(--light-brown);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(78, 36, 29, 0.8);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: background-color 0.1s linear;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.checkout:hover {
  background-color: rgba(78, 36, 29, 1);
}

.webshop-cake-cart-icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.cake-page-price {
  font-family: 'Quicksand-bold', sans-serif;
  font-size: var(--header);
  color: white;
}

.cake-page-title {
  font-family: 'Quicksand-bold', sans-serif;
  font-size: var(--header);
  margin: 1.5rem;
  text-align: center;
  width: 100%;
}

.cake-page-desc {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--primary);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  text-align: left;
}

.cake-page-ingredients {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--primary);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cake-page-allergens {
  width: 100%;
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--primary);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cake-page-ingredients-text {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--primary);
}

.cake-page-image-container {
  display: flex;
}

.suggested-cake-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-brown);
  border-radius: 15px;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.cake-page-suggested-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cake-page-suggested-image-container {
  min-width: 150px;
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  margin: 2vh;
}

.you-may-like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggested-cakes-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-cake-page {
  width: 70%;
  display: flex;
}

@media only screen and (max-width: 1280px) {
  .cake-page-image-container {
    min-width: 250px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 3rem;
    border-radius: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .cake-page-image-container {
    margin: 3rem;
  }

  .cake-page-info-container {
    margin: 3rem;
    width: 60%;
    max-width: 60%;
  }
}

@media only screen and (max-width: 720px) {
  .cake-container {
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .cake-page-image-container {
    width: 50%;
    height: 20rem;
    margin: 3rem 0 0;
  }

  .cake-page-info-container {
    margin: 3rem 0;
    width: 80%;
    max-width: 80%;
  }

  .title-cake-page {
    width: 100%;
  }
}

.first-suggestion-container {
  background-color: var(--light-grey);
  padding: 3rem 0;
}

.suggestion-container {
  width: 100%;
}

.suggestion-outer-container {
  max-width: 780px;
  width: 100%;
}

@media only screen and (max-width: 1218px) {
  .suggestion-outer-container {
    width: 60%;
  }
}

@media only screen and (max-width: 720px) {
  .suggestion-outer-container {
    width: 80%;
  }
}
