.webshop-filter-title-container {
  margin: 0 1.75rem 0.5rem 1.75rem;
}

.webshop-filter-title {
  font-size: var(--header);
  font-family: 'Quicksand-Bold', sans-serif;
}

.webshop-filter-title-icon {
  display: none;
}

.webshop-filter-list-item-container {
  margin: 0 1rem;
}

.webshop-filter-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0.75rem;
}

.webshop-filter-list-item.open {
  font-family: 'Quicksand-medium', sans-serif;
}

.webshop-filter-list-item:hover {
  cursor: pointer;
  background-color: var(--med-grey);
  border-radius: 2rem;
}

.webshop-filter-list-item-title {
  font-size: var(--title);
}

.webshop-filter-list-item-icon {
  height: 1rem;
  width: 1rem;
}

.webshop-filter-list-item-icon.open {
  transform: rotate(180deg);
}

.webshop-filter-list-item-subitems-container {
  display: none;
}

.webshop-filter-list-item-subitems-container.open {
  display: block;
  margin: 0.25rem 1rem;
}

.webshop-filter-list-item-subitem {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  margin-bottom: 0.25rem;
  font-size: var(--primary);
}

.webshop-filter-list-item-subitem:hover {
  background-color: var(--med-grey);
  cursor: pointer;
}

.webshop-filter-list-item-subitem.active {
  background-color: rgba(255, 31, 31, 0.7);
  color: white;
  font-family: 'Quicksand-semibold', sans-serif;
}

.webshop-filter-list-item-subitem.active .webshop-filter-subitem-icon {
  background-color: rgba(255, 31, 31, 0.7);
  fill: white;
}

.webshop-filter-subitem-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
  align-self: center;
}

.webshop-filter-list-item-prices-text {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--primary);
  margin: 0.25rem 0;
}

@media only screen and (max-width: 944px) {
  .webshop-filter-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 0 1.5rem;
    padding: 0.25rem 0 0.5rem 0;
  }

  .webshop-filter-title-icon {
    display: flex;
  }

  .webshop-filter-icon {
    width: var(--header);
    height: var(--header);
  }

  .webshop-filter-list-item-container {
    margin: 0 0.9rem 0 0.75rem;
  }

  .webshop-filter-list-item:hover {
    cursor: default;
    background-color: none;
  }

  .webshop-filter-list-item-subitem:hover {
    background-color: none;
    cursor: default;
  }

  .webshop-filter-list-item-prices-text {
    margin-top: 0.5rem;
  }
}
