.webshop-cakes-list-holder {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  grid-template-columns: 14rem 14rem 14rem;
}

.webshop-cake-container {
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-rows: 40% 60%;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: box-shadow 0.1s linear;
}

.webshop-cake-link {
  text-decoration: none;
  color: black;
}

.webshop-cake-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.webshop-cake-image-container {
  width: 100%;
  height: 100%;
  grid-row: 1;
}

.webshop-cake-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.webshop-cake-info-container {
  grid-row: 2;
  background-color: var(--light-brown);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.webshop-cake-title {
  font-family: 'Quicksand-semibold', sans-serif;
  font-size: var(--header);
  margin: 1rem 1rem 0.5rem 1rem;
  text-align: left;
}

.webshop-cake-desc {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--primary);
  flex-grow: 1;
  margin: 0 1rem 0 1rem;
  text-align: left;
}

.webshop-cake-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(78, 36, 29, 0.8);
  transition: background-color 0.1s linear;
  padding: 0.5rem 1rem;
}

.webshop-cake-footer:hover {
  background-color: rgba(78, 36, 29, 1);
}

.webshop-cake-price {
  font-family: 'Quicksand-bold', sans-serif;
  font-size: var(--header);
  color: white;
}

.webshop-cake-cart-icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

@media only screen and (max-width: 1216px) {
  .webshop-cakes-list-holder {
    grid-template-columns: 14rem 14rem;
  }
}

@media only screen and (max-width: 944px) {
  .webshop-cakes-list-holder {
    width: fit-content;
    gap: 2rem;
  }
}

@media only screen and (max-width: 608px) {
  .webshop-cakes-list-holder {
    grid-template-columns: 14rem;
    gap: 1.5rem;
  }
}
